
<div class="container text-center pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Упс!</h1>
                <div class="error-details mb-3">Возникла ошибка при загрузке страницы</div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</div>