<div class="expenses-edit">

    <h1 class="titles">Редактирование категории расходов</h1>

    <div class="category-create-block">

        <input class="category-create-input form-control" type="text" aria-describedby="inputGroupPrepend" id="expenseTitle">

        <div class="valid-feedback" id="expenseTitleError">
            Введите новое название категории.
        </div>

        <div class="category-create-actions">
            <button type="button" class="btn btn-success me-2" id="updateButton">Сохранить</button>
            <a href="/expenses" class="btn btn-danger">Отмена</a>
        </div>
    </div>
</div>